<table class = 'table table-hover table-condensed link-index'>
    <tbody>
        <tr>
            <th><i class = 'fa fa-3'></i></th>
            <td>2025/08/28</td>
            <td>
                <a href = 'https://www.m3tech.blog/entry/2025/08/28/113000' class = 'cell-link' target = 'new'>
                    メルマガ配信基盤のバウンスメール発生率を60%減らした話 - エムスリーテックブログ
                </a>
            </td>
        </tr>
        <tr>
            <th><i class = 'fa fa-s'></i></th>
            <td>2024/11/11</td>
            <td>
                <a href = 'https://savacan.space-i.com/sisimai%e3%81%a7%e3%83%90%e3%82%a6%e3%83%b3%e3%82%b9%e3%83%a1%e3%83%bc%e3%83%ab%e3%82%92%e8%a7%a3%e6%9e%90%e3%81%99%e3%82%8b/' class = 'cell-link' target = 'new'>
                    Sisimaiでバウンスメールを解析する | SAVACAN
                </a>
            </td>
        </tr>
        <tr>
            <th><i class = 'fa fa-q'></i></th>
            <td>2023/05/20</td>
            <td>
                <a href = 'https://qiita.com/revsystem/items/52d204bd9dada9cb9bc4' class = 'cell-link' target = 'new'>
                    Sisitoとsisimaiでバウンスメールの解析､集計する #sisimai - Qiita
                </a>
            </td>
        </tr>
        <tr>
            <th><i class = 'fa fa-z'></i></th>
            <td>2021/12/22</td>
            <td>
                <a href = 'https://zenn.dev/itsuo/articles/b810ac28b31ffc' class = 'cell-link' target = 'new'>
                    SendGridからbounceメールを取得して、sisimaiで解析してみる
                </a>
            </td>
        </tr>
        <tr>
            <th><i class = 'fa fa-r'></i></th>
            <td>2021/10/30</td>
            <td>
                <a href = 'https://realsender.com/for-email-broadcasters/bouncehandler-app/' class = 'cell-link' target = 'new'>
                    bouncehandler app :: RealSender
                </a>
            </td>
        </tr>
        <tr>
            <th><i class = 'fa fa-p'></i></th>
            <td>2021/07/21</td>
            <td>
                <a href = 'https://blogs.pcsoft.fr/fr/emailing-application-windev-tache-site-webdev-eviter-passer-liste-noire-voir-envois-rejetes/281474976710985/read.awp' class = 'cell-link' target = 'new'>
                    Emailing depuis une application WINDEV ou une tâche d'un site WEBDEV,
                    comment éviter de passer en liste noire et de voir les envois rejetés ?
                    - PC SOFT - Blogs
                </a>
            </td>
        </tr>
        <tr>
            <th><i class = 'fa fa-m'></i></th>
            <td>2021/03/30</td>
            <td>
                <a href = 'https://www.mindbaz.com/technologie-email/bounces-email/' class = 'cell-link' target = 'new'>
                    Traitement des bounces email - Mindbaz
                </a>
            </td>
        </tr>
        <tr>
            <th><i class = 'fa fa-h'></i></th>
            <td>2020/07/14</td>
            <td>
                <a href = 'https://blog.hokkai7go.jp/entry/2020/07/14/145454' class = 'cell-link' target = 'new'>
                    LambdaでSisimaiを動かしてバウンスメールを解析するテスト - 実はhokkai7go
                </a>
            </td>
        </tr>
        <tr>
            <th><i class = 'fa fa-h'></i></th>
            <td>2017/12/19</td>
            <td>
                <a href = 'https://heartbeats.jp/hbblog/2017/12/sisimai.html' class = 'cell-link' target = 'new'>
                    バウンスメール解析ライブラリSisimaiの出力からバウンスメールの集計と通知を行う
                    - インフラエンジニアway - Powered by HEARTBEATS
                </a>
            </td>
        </tr>
        <tr>
            <th><i class = 'fa fa-c'></i></th>
            <td>2017/05/15</td>
            <td>
                <a href = 'https://techlife.cookpad.com/entry/2017/05/15/000000' class = 'cell-link' target = 'new'>
                    Sisimaiを使ったバウンスメールの管理 - クックパッド開発者ブログ
                </a>
            </td>
        </tr>
        <tr>
            <th><i class = 'fa fa-r'></i></th>
            <td>2016/09/21</td>
            <td>
                <a href = 'https://techblog.raccoon.ne.jp/archives/49496190.html' class = 'cell-link' target = 'new'>
                    Sisimaiによるバウンスメール解析の自動化 | Raccoon Tech Blog
                    [株式会社ラクーンホールディングス 技術戦略部ブログ]
                </a>
            </td>
        </tr>
        <tr>
            <th><i class = 'fa fa-y'></i></th>
            <td>2016/08/17</td>
            <td>
                <a href = 'https://blog.ytnobody.net/entry/2016-08-17-00-47-42.html' class = 'cell-link' target = 'new'>
                    エラーで帰ってきてしまったメールの解析 | All Your Bugs Are Belong To Ass
                </a>
            </td>
        </tr>
        <tr>
            <th><i class = 'fa fa-q'></i></th>
            <td>2016/03/26</td>
            <td>
                <a href = 'https://qiita.com/taku1201/items/0afae3dd90507a688e3e' class = 'cell-link' target = 'new'>
                    Sisimaiでバウンスメールを解析してみる #Ruby - Qiita
                </a>
            </td>
        </tr>
        <tr>
            <th><i class = 'fa fa-github'></i></th>
            <td></td>
            <td>
                <a href = 'https://github.com/sisimai/sisimai.github.io/pulls' class = 'cell-link' target = 'new'>
                    Please submit a pull request if you known any other blogs.
                </a>
            </td>
        </tr>
    </tbody>
</table>
