<!-- standard-footer -->
<footer id = 'footer'>
<div class = 'footer-top wow fadeInUp' data-wow-duration = '1000ms' data-wow-delay = '300ms'>
    <div class = 'container text-center'>
        <div class = 'footer-logo'>
            <a href = '/'>
                <img class = 'img-responsive' src = '/static/images/logo/sisimai-logotype-a01.png' 
                    width = '200' alt = 'Sisimai: Mail Analyzing Interface'>
            </a>
        </div>
        <div class = 'social-icons'>
            <ul>
                <li><a class = 'twitter' href = 'https://twitter.com/libsisimai'><i class = 'fa fa-twitter'></i></a></li> 
                <li><a class = 'facebook' href = 'https://facebook.com/libsisimai'><i class = 'fa fa-facebook'></i></a></li>
                <li><a class = 'tumblr' href = 'http://libsisimai.tumblr.com'><i class = 'fa fa-tumblr-square'></i></a></li>
                <li><a class = 'github' href = 'https://github.com/sisimai'><i class = 'fa fa-github-square'></i></a></li>
            </ul>
        </div>
    </div>
</div>
<div class = 'footer-bottom'>
    <div class = 'container'>
        <div class = 'row'>
            <div class = 'col-sm-4'>
                <p class = 'description'>
                    <span class = 'ss'>Sisimai</span> is an open source software under the BSD 2-Clause License.
                </p>
                <hr>
                <p class = 'description'>
                    <strong>LIBSISIMAI.ORG</strong> |
                    Copyright 2015-2016
                    <a href = 'https://twitter.com/azumakuniyuki' target = 'new'>azumakuniyuki</a>,
                    <a href = 'http://cubicroot.jp/' target = 'new'>Cubicroot Co. Ltd.</a> (Kyoto, Japan),
                    and
                    <a href = 'http://libsisimai.org/' target = 'new'>Sisimai Project</a>,
                    All Rights Reserved.
                </p>
                <hr>
                <p class = 'description'>
                    HTML5 Template of this site is based on
                    <a href = 'http://demo.themeum.com/html/oxygen/' target = 'new'>Oxygen Theme</a>
                    Designed by <a href = 'http://www.themeum.com/' target = 'new'><strong>Themeum</strong></a>.
                    Icons used in this site are in
                    <a href = 'https://icons8.com/' target = 'new'><strong>icons8.com</strong></a>.
                </p>
            </div>
            <div class = 'col-sm-4'>
                <a class="twitter-timeline" href="https://twitter.com/libsisimai" data-widget-id="259644286679793664">Tweets by @libsisimai</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
            <div class = 'col-sm-4'>
                <h2>Source Codes</h2>
                <ul>
                    <li>
                        <i class = 'fa fa-github'></i>
                        <a href = 'https://github.com/sisimai' target = 'new'>
                            <span class = 'ss'>Sisimai</span> Project on GitHub
                        </a>
                    </li>
                    <li>
                        <i class = 'fa fa-github-alt'></i>
                        <a href = 'https://github.com/sisimai/p5-Sisimai' target = 'new'>
                            Perl version of <span class = 'ss'>Sisimai</span>
                        </a>
                    </li>
                    <li>
                        <i class = 'fa fa-github-alt'></i>
                        <a href = 'https://github.com/sisimai/rb-Sisimai' target = 'new'>
                            Ruby version of <span class = 'ss'>Sisimai</span>
                        </a>
                    </li>
                    <li>
                        <i class = 'fa fa-cloud-download'></i>
                        <a href = 'https://metacpan.org/pod/Sisimai' target = 'new'>
                            <span class = 'ss'>Sisimai</span> on meta::cpan
                        </a>
                    </li>
                    <li>
                        <i class = 'fa fa-cloud-download'></i>
                        <a href = 'https://rubygems.org/gems/sisimai' target = 'new'>
                            <span class = 'ss'>Sisimai</span> on RubyGems.org
                        </a>
                    </li>
                </ul>
                <hr>
                <h2>Other Resources</h2>
                <ul>
                    <li>
                        <i class = 'fa fa-tumblr-square'></i>
                        <a href = 'http://blog.libsisimai.org' target = 'new'>
                            The latest information and updates
                        </a>
                    </li>
                    <li>
                        <i class = 'fa fa-twitter'></i>
                        <a href = 'https://twitter.com/libsisimai' target = 'new'>@libsisimai on Twitter</a>
                    </li>
                    <li>
                        <i class = 'fa fa-facebook-square'></i>
                        <a href = 'https://www.facebook.com/libsisimai/' target = 'new'>Facebook Page</a>
                    </li>
                    <li>
                        <i class = 'fa fa-building'></i>
                        <a href = 'http://cubicroot.jp/' target = 'new'>Suponsored by Cubicroot Co. Ltd.,</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</footer>

