<!-- standard-script -->
<script type = 'text/javascript' src = '/static/js/google-analytics.js'></script>
<script type = 'text/javascript' src = '/static/js/jquery.js'></script>
<script type = 'text/javascript' src = '/static/js/bootstrap.min.js'></script>
<script type = 'text/javascript' src = '/static/js/jquery.inview.min.js'></script>
<script type = 'text/javascript' src = '/static/js/wow.min.js'></script>
<script type = 'text/javascript' src = '/static/js/jquery.countTo.js'></script>
<script type = 'text/javascript' src = '/static/js/libsisimai.js'></script>
<script type = 'text/javascript' src = '/static/js/standard.js'></script>

