<!-- standard-header -->
<meta charset = 'utf-8'>
<meta name = 'viewport' content = 'width=device-width, initial-scale=1.0'>
<meta name = 'description' content = '{{ page.description }}'>
<meta name = 'author' content = '{{ page.author }}'>

<title>{{ page.title }} | Sisimai: Mail Analyzing Interface</title>

<link rel = 'alternate' hreflang = 'en' href = 'http://{{ site.sisimai.domain }}/en/{{ page.directory }}'>
<link rel = 'alternate' hreflang = 'ja' href = 'http://{{ site.sisimai.domain }}/ja/{{ page.directory }}'>

