<!-- standard-footer -->
<footer id = 'footer'>
<div class = 'footer-top wow fadeInUp' data-wow-duration = '1000ms' data-wow-delay = '300ms'>
    <div class = 'container text-center'>
        <div class = 'footer-logo'>
            <a href = '/'>
                <img class = 'img-responsive' src = '/static/images/logo/sisimai-logotype-a01.png' 
                    width = '200' alt = 'Sisimai: Mail Analyzing Interface'>
            </a>
        </div>
        <div class = 'social-icons'>
            <ul>
                <li><a class = 'twitter' href = '{{ site.sisimai.socialmedia.twitter }}'><i class = 'fab fa-twitter-square'></i></a></li> 
                <li><a class = 'facebook' href = '{{ site.sisimai.socialmedia.facebook }}'><i class = 'fab fa-facebook'></i></a></li>
                <li><a class = 'tumblr' href = '{{ site.sisimai.socialmedia.tumblr }}'><i class = 'fab fa-tumblr-square'></i></a></li>
                <li><a class = 'github' href = '{{ site.sisimai.repository.project }}'><i class = 'fab fa-github-square'></i></a></li>
            </ul>
        </div>
    </div>
</div>
<div class = 'footer-bottom'>
    <div class = 'container'>
        <div class = 'row'>
            <div class = 'col-sm-4'>
                <p class = 'description'>
                    {{ site.html.ss }} is an open source software under {{ site.sisimai.spec.license }}
                </p>
                <hr>
                <p class = 'description'>
                    <strong>LIBSISIMAI.ORG</strong> |
                    Copyright 2015-2019
                    <a href = 'https://twitter.com/azumakuniyuki' target = 'new'>azumakuniyuki</a>,
                    <a href = 'http://cubicroot.jp/' target = 'new'>Cubicroot Co. Ltd.</a>,
                    and
                    <a href = 'https://libsisimai.org/' target = 'new'>Sisimai Project</a>,
                    All Rights Reserved.
                </p>
                <hr>
                <p class = 'description'>
                    HTML5 Template of this site is based on
                    <a href = 'http://demo.themeum.com/html/oxygen/' target = 'new'>Oxygen Theme</a>
                    Designed by <a href = 'http://www.themeum.com/' target = 'new'><strong>Themeum</strong></a>.
                    Icons used in this site are in
                    <a href = 'https://icons8.com/' target = 'new'><strong>icons8.com</strong></a>.
                </p>
            </div>
            <div class = 'col-sm-4'>
                <a class="twitter-timeline" data-lang="en" data-theme="light" href="https://twitter.com/libsisimai?ref_src=twsrc%5Etfw">
                    Tweets by libsisimai
                </a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class = 'col-sm-4'>
                <h2>Source Code <i class = 'fas fa-code'></i></h2>
                <ul>
                    <li>
                        <i class = 'fab fa-github'></i>
                        <a href = '{{ site.sisimai.repository.project }}' target = 'new'>
                            {{ site.html.ss }} Project on GitHub
                        </a>
                    </li>
                    <li>
                        <i class = 'fab fa-github-alt'></i>
                        <a href = '{{ site.sisimai.repository.perl }}' target = 'new'>
                            Perl version of {{ site.html.ss }}
                        </a>
                    </li>
                    <li>
                        <i class = 'fab fa-github-alt'></i>
                        <a href = '{{ site.sisimai.repository.ruby }}' target = 'new'>
                            Ruby version of {{ site.html.ss }}
                        </a>
                    </li>
                    <li>
                        <i class = 'fas fa-dice-four'></i>
                        <a href = '{{ site.sisimai.distribution.perl }}' target = 'new'>
                            {{ site.html.ss }} on meta::cpan
                        </a>
                    </li>
                    <li>
                        <i class = 'far fa-gem' style = 'font-size: 80%'></i>
                        <a href = '{{ site.sisimai.distribution.ruby }}' target = 'new'>
                            {{ site.html.ss }} on RubyGems.org
                        </a>
                    </li>
                </ul>
                <hr>
                <h2>Other Resources <i class = 'fas fa-sitemap'></i></h2>
                <ul>
                    <li>
                        <i class = 'fab fa-tumblr-square'></i>
                        <a href = '{{ site.sisimai.socialmedia.weblog }}' target = 'new'>
                            The latest information and updates
                        </a>
                    </li>
                    <li>
                        <i class = 'fab fa-twitter'></i>
                        <a href = '{{ site.sisimai.socialmedia.twitter }}' target = 'new'>@libsisimai on Twitter</a>
                    </li>
                    <li>
                        <i class = 'fab fa-facebook-square'></i>
                        <a href = '{{ site.sisimai.socialmedia.facebook }}' target = 'new'>Facebook Page/libsisimai</a>
                    </li>
                    <li>
                        <i class = 'fa fa-building'></i>
                        <a href = 'http://cubicroot.jp/' target = 'new'>Maintained by Cubicroot Co. Ltd.,</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</footer>

