/* CSS for document layout */

.read-more {
    display: block;
    text-align: center;
    margin-top: 70px;
}

.btn-readmore {
    border: 1px solid #f2f2f2;
    color: #666666;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 125px;
    text-transform: uppercase;
}

.btn-readmore:hover {
    color:#fff;
    text-shadow: 0 -1px 0 #16160e;
}

/*****************************************************************************/
hr {
    border-color: #adadad; /* Usunibi */
    border-style: dashed;
}

.parallax {
    margin-top: 80px;
    color: #2b2b2b; /* Kuro */
    background-color: #f8f4e6; /* Zouge-Iro */
    background-image: url('/static/images/texture/seamlesstexture-291-501.jpg');
}

.parallax hr {
    border-color: #a59564; /* Rikyucha */
    border-style: dashed;
}

.parallax table,
.parallax table tr th, .parallax table tr td {
    border-color: #a59564; /* Rikyucha */
}

.parallax table tr th, .parallax table tr td  {
    background-color: rgba(255, 255, 255, 0.5);
}

table tr th,
table tr td {
    display: table-cell;
    vertical-align: middle !important;
}

table tr td a,
table tr td a:active,
table tr td a:hover,
table tr td a:visited {
    background: transparent;
    color: #8f2e14; /* Akasumi */
}

table.link-index tr {}
table.link-index tr th, table.link-index tr td {
    text-align: left;
    vertical-align: middle;
    padding: 8px 0 4px 8px;
    margin: 0;
}

table.link-index tr th {
    color: #b7282e; /* Akane-iro */
    text-align: center;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    border-radius: 4px;
}

table.link-index tr th i.fa {
    font-size: 24px;
    text-decoration: none;
    color: #2b2b2b;
    background-color: transparent;
}

table.link-index tr:hover th i.fa {
    color: #b7282e; /* Akane-iro */
    background-color: transparent;
}

/*****************************************************************************/
kbd {
    padding: 2px 6px;
    margin: auto 4px;
    border-width: 0px;
    border-color: #949495; /* Nezumi-iro */
    border-style: solid;
    border-radius: 4px;
    color: #f8fbf8; /* Hakuji */
    background: #595857; /* Rikyucha */
    text-shadow: none;
}

pre.prettyprint {
    display: block;
    width: 100%;
    padding: 10px 10px 0 10px;
    margin: 0 0 20px 0;
    font-size: 13px;
    font-family: monospace;
    white-space: pre;
    background: #6b7b6e; /* Aonibi */
    color: #f8fbf8; /* Hakuji */
    text-shadow: 0 -1px 0 #16160e;
    overflow-x:auto;
    line-height: inherit;
    text-decoration: none;
    border-width: 1px;
    border-color: #333631; /* Kuromidori */
    border-style: solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.parallax pre.prettyprint {
    border-color: #9e9478; /* Kaihakushoku */
    background: #f8fbf8; /* Hakuji */
    color: #2b2b2b;
    text-shadow: 0 -1px 0 #fff;
}

.prettyprint kbd {
    padding: 0;
    margin: 0;
    color: #f8fbf8; /* Hakuji */
    text-shadow: none;
    background-color: inherit;
    font-weight: 600;
    text-decoration: none;
    box-shadow: none;
    border-width: 0;
    border-radius: 0;
}

.parallax .prettyprint kbd {
    padding: 0;
    margin: 0;
    color: #3f312b; /* Akasumi */
    background-color: inherit;
    font-weight: 600;
    text-decoration: none;
    box-shadow: none;
    border-width: 0;
    border-radius: 0;
}

.prettyprint kbd:after {
    content: ' ↩︎';
}

.parallax .prettyprint strong {
    color: #e2041b; /* Shojohi */
}

.prettyprint strong {
    color: #ffec47; /* Nanohana-Iro */
}

.parallax .prettyprint .shebang {
    font-weight: bold;
    color: #007bbb; /* Kompeki */
}

.prettyprint .shebang {
    font-weight: bold;
    color: #a0d8ef; /* Sora-Iro */
}

.cation {
    display: block;
    padding: 8px;
    margin: 12px 0;
    border: 1px red dotted;
}

div.diagnosticcode {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 32px;
    padding: 6px 0;
    border: 1px #3f312b solid;
    background-color: rgba(1,1,1,0.1);
    border-radius: 4px;
    line-height: 20px;
    font-size: 12px;
    height: 128px;
    overflow: scroll;
}

.spec-icon {
    margin: 12px 0 0 0;
}

ul li {
    line-height: 27px;
}

ul.spec {
    text-align: left;
    list-style-type: disc;
    list-style-position: inside;
}
ul.spec li {
    padding: 0 0 0 4px;
}

ul.release-notes {
    text-align: left;
    list-style-type: disc;
    list-style-position: inside;
}

ul.release-notes li {
    padding: 0 0 4px 0;
    margin: 4px 0;
    border-width: 0 0 1px 0;
    border-color: #eae5e3; /* Soshoku */
    border-style: solid;
    line-height: 27px;
}

ul.release-notes li a:link,
ul.release-notes li a:active,
ul.release-notes li a:hover,
ul.release-notes li a:visited {
    color: #007bbb; /* Kompeki */
    background: inherit;
}

ul.release-notes li kbd {
    padding: 4px 4px;
    margin: auto 4px auto 0;
    border-width: 1px;
    border-color: #eae5e3; /* Soshoku */
    border-style: solid;
    border-radius: 0;
    color: #281a14; /* Tetsuguro */
    background: #f3f3f2; /* Shironeri */
    text-shadow: none;
}

dl dt:before { content: '* '; }
dl dt {
    margin: 4px 0 4px 0;
    font-weight: bold;
}
dl dd {
    margin: 4px 0 8px 24px;
    line-height: 1.5em;
}

dl.faq dt:before { content: 'Q. '; }
dl.faq dd:before { content: ''; }

dl.faq dt {
    margin: 24px 0 4px 0;
}

dl.faq dd {
    margin: 8px 0 8px 0;
    padding: 4px 0 4px 18px;
    border: 1px #adadad solid;
    border-radius: 2px;
}

dl.faq a,
dl.faq a:link,
dl.faq a:hover,
dl.faq a:visited {
    display: block;
    background: inherit;
    color: #3f312b;
}

span.lang {
    padding: auto 4px;
    margin: auto 4px auto 0;
    display: inline-block;
    width: 48px;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 12px;
}

span.perl {
    background: #2a97c1;
    color: #ffffef;
}

span.ruby {
    background: #cf1516;
    color: #ffffef;
}

span.value {
    padding: 2px 6px;
    margin: auto 2px;
    border-width: 1px;
    border-color: #b55233; /* Renga-iro */
    border-style: solid;
    border-radius: 4px;
    text-shadow: none;
}

span.value a {
    background: none;
    color: inherit;
}

h3.icon-caption {
    font-size: 18px;
    font-weight: 600;
    border-width: 0 0 1px 0;
    border-color: #f3f3f2; /* Shironeri */
    padding: 0 0 0 8px;
    margin: 8px 0 12px 0;
}

h2.in-desc {
    text-align: left;
}

h3.in-desc {
    font-size:20px;
    display: block;
    margin: 10px 0 10px 0px;
    width: 100%;
    padding: 5px 0 0 0;
    text-align: left;
}

h4.in-desc {
    font-size: 18px;
    display: block;
    margin: 20px 0 10px 0;
    padding: 0;
    clear: left;
}

h6.timestamp {
    padding: 4px 10px;
    background-color: #f3f3f2;
    text-align: right;
}

img.lhs {
    float: left;
    margin: 10px 10px 0 0;
    height: 100%;
}

img.rhs {
    float: right;
    margin: 10px 0 0 10px;
    height: 100%;
}

span.footnote {
    color: #c9171e; /* Kokihi */
}

img.diagram {
    width: 100%;
    margin: 8px 0;
    padding: 0px;
    border-color: #afafb0; /* Ginnezu */
    border-style: solid;
    border-width: 1px;
}

ol.footnote {
    list-style-type: decimal;
    list-style-position: inside;
    margin: 4px 2px;
    text-decoration: italic;
    color: #c9171e; /* Kokihi */
}

a[name] {
    display: block;
    width: 100%;
    height: 64px;
    border: none;
    background: transparent;
}

a.cell-link {
    display: block;
    height: 100%;
    width: 100%;
}

.not-available {
    color: #a3a3a2; /* Usuzumi-iro */
}

.deprecated {
    color: #b7282e; /* Akane-iro */
}

