
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #666;
    background-color: #fbfaf5;
}

h1, h2, h3, h4, h5, h6 {
    color: #2b2b2b;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
}

.parallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.parallax,
.parallax h1,
.parallax h2,
.parallax h3,
.parallax h4,
.parallax h5,
.parallax h6 {
    color: #fbfaf5;
}

.parallax input[type="text"],
.parallax input[type="text"]:hover,
.parallax input[type="email"],
.parallax input[type="email"]:hover,
.parallax input[type="url"],
.parallax input[type="url"]:hover,
.parallax input[type="password"],
.parallax input[type="password"]:hover,
.parallax textarea,
.parallax textarea:hover {
    font-weight: 300;
    color: #fbfaf5;
}

.btn {
    border: 0;
    border-radius: 0;
}

.btn.btn-primary:hover {
    background-color: #b7282e;
}

.read-more {
  display:block;
  text-align: center;
  margin-top: 70px;
}

.btn-readmore {
  border: 1px solid #f2f2f2;
  color: #666666;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 125px;
  text-transform: uppercase;
}

.btn-readmore:hover {
  color:#fff;
}

.navbar-nav li a:hover, 
.navbar-nav li a:focus {
    outline:none;
    outline-offset: 0;
    text-decoration:none;  
    background: transparent;
}

.ss {
    font-family: 'Century Gothic', Muli;
    font-weight: bold;
    color: inherit !important;
    letter-spacing: 1px;
}

.bh {
    font-family: 'Century Gothic', Muli;
    color: inherit !important;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

a:focus, 
a:hover {
    text-decoration: none;
    outline: none
}

section {
    padding: 90px 0;
}

.heading {
    padding-bottom:90px;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background: #fbfaf5;
}

.preloader > i {
    position: absolute;
    font-size: 36px;
    line-height: 36px;
    top: 50%;
    left: 50%;
    height: 36px;
    width: 36px;
    margin-top: -15px;
    margin-left: -15px;
    display: inline-block;
}

/*****************************************************************************/
#home-slider {
    overflow: hidden;
    position: relative;
}

#home-slider .caption {
    position: absolute;
    top: 25%;
    margin-top: -108px;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    z-index: 15;
    font-size: 18px;
    font-weight: 300;
    color: #fbfaf5;
}

#home-slider .caption img {
    width: 50%;
    min-width: 169px;
    max-width: 255px;
}

#home-slider .caption h1 {
    color: #fbfaf5;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
}

.caption .btn-start {
    color: #fbfaf5;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    padding:14px 40px;
    border: 1px solid #6e6d6c;
    border-radius: 4px;
    margin-top: 40px;
}

.caption .btn-start:hover {
    color: #fbfaf5;
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2037px;
}

.carousel-fade .carousel-inner .item:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.7);
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}

.left-control, .right-control {
    position: absolute;
    top: 50%;
    height: 51px;
    width: 51px;
    line-height: 48px;
    border-radius: 50%;
    border:1px solid #fbfaf5;  
    z-index: 20;
    font-size: 24px;
    color: #fbfaf5;
    background-color: transparent;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.left-control {
    left: -51px
} 

.right-control {
    right: -51px;
}

.left-control:hover, 
.right-control:hover {
    color: #fbfaf5;
}

#home-slider:hover .left-control {
    left: 30px
} 

#home-slider:hover .right-control {
    right:30px
}

#home-slider .fa-angle-down {
    position: absolute;
    left: 50%;
    bottom: 50px;
    color: #fbfaf5;
    display: inline-block;
    width: 24px;
    margin-left: -12px;
    font-size: 24px;
    line-height: 24px;
    z-index: 999;
    -webkit-animation: bounce 3000ms infinite;
    animation: bounce 3000ms infinite;
}

.navbar-right li a {
    color: #fbfaf5;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-right li.active a {
    background-color: rgba(0,0,0,.2);
}

.navbar-brand h1 {
  margin-top: 5px;
}

/*****************************************************************************/
.about-icon {
    border-radius: 4px;
    color: #fbfaf5;
    display: inline-block;
    font-size: 36px;
    height: 90px;
    line-height: 90px;
    width: 90px;  
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

.about-sisimai {
    margin-top: -2%;
}

.about-sisimai .col-sm-4:hover .about-icon {
    background-color: #2b2b2b;
}

.about-sisimai .col-sm-4 {
    border-right: 0px dotted red;
    border-bottom: 0px dotted red;
    padding-bottom: 50px;
    padding-top: 10px;
}

.about-sisimai .col-sm-4:nth-child(4), 
.about-sisimai .col-sm-4:nth-child(5), 
.about-sisimai .col-sm-4:nth-child(6) {
    border-bottom:0;
    padding-top: 60px;
}

.about-sisimai .col-sm-4:nth-child(3), 
.about-sisimai .col-sm-4:nth-child(6) {
    border-right:0;
}

.about-info h3 {
    margin-top: 35px;
}


.social-icons {
  margin-top:30px;
  text-align: center;
}

.social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.social-icons ul li {
  float: left;
  margin-right: 8px;
}

.social-icons ul li:last-child {
  margin-right: 0;
}

.social-icons ul li a {
  color:#fbfaf5;
  background-color: #d9d9d9;
  height: 36px;
  width: 36px;
  line-height: 36px;
  display: block;
  font-size: 16px;
  opacity: 0.8;
}

.social-icons ul li a:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/*****************************************************************************/
#versus {
  text-align: center;
  background-image: url(../images/background/colosseum-04.jpg);
}

#versus h2,
#versus p.description {
    text-align: left;
}

#versus i {
  font-size: 48px;
}

#versus h3 {
  margin-top: 15px;
  font-size: 30px;
  margin-bottom: 7px;
  color: #fbfaf5;
}

#versus .slider-overlay {
  opacity: 0.8;
}

#versus .lead {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

#versus .lead i {
  font-size: 14px;
}

.progress {
  height: 20px;
  background-color: #eee;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin-bottom: 25px;
}

.progress-bar {
  box-shadow: none;
  -webkit-box-shadow: none;
  text-align: right;
  padding-right: 12px;
  font-size: 12px;
  font-weight: 600;
}

.progress .progress-bar.six-sec-ease-in-out {
  -webkit-transition: width 2s ease-in-out;
  transition:  width 2s ease-in-out;
}

.progress .versus {
  font-size: 12px;
  font-weight: 600;
  color: #16160e;
  text-align: right;
  padding-right: 12px;
}

/*****************************************************************************/
.download-table {
  text-align: center;
}

.single-table {
  padding: 30px 20px 20px;
  border:1px solid #f2f2f2;
}

.single-table h3 {
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.download {
  font-size: 36px;
  line-height: 36px;
}

.download span {
  font-size: 14px;
  line-height: 14px;
}

.single-table ul {
  list-style: disc inside;
  text-align: left;
  padding: 0 0 0 10px;
  margin: 30px 0;
}

.single-table ul li {
  line-height: 30px;
}

.single-table .btn {
    width: 70%;
}

.single-table.featured {  
  color: #fbfaf5;
  font-weight: 600;
}

.single-table.featured h3 { 
  color: #fbfaf5;
}

.single-table.featured .btn.btn-primary {
  background-color: #fbfaf5;
  border: 1px solid #fbfaf5;
  font-weight: 600;
}

.single-table.disabled {  
  color: #524e4d;
}

.single-table.disabled h3 { 
  color: #a3a3a2;
}

.single-table.disabled h3 span { 
  font-size: 10px;
}

.single-table.disabled .btn.btn-primary {
  color: #383c3c;
  background-color: #16160e;
}

/*****************************************************************************/
#footer {
  color:#fbfaf5;
}

.footer-top {
  position: relative;
  padding:30px 0;
}

#footer .footer-bottom {
  padding: 20px 0 10px;
}

#footer .footer-bottom a:hover {
  text-decoration: underline;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 5px;
}

#footer .social-icons {
  margin-top: 15px;
}

#footer .social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .social-icons ul li a {
  background-color: rgba(0,0,0,.2);
  border-radius: 4px;
  line-height: 33px;
}

#footer .social-icons ul li a:hover {
  color: #fbfaf5;
}

#footer .social-icons ul li a.envelope:hover {
  background-color: #CECB26;
}

#footer .social-icons ul li a.facebook:hover {
  background-color: #3b5999;
}
#footer .social-icons ul li a.twitter:hover {
  background-color: #2ac6f7;
}
#footer .social-icons ul li a.dribbble:hover {
  background-color: #ff5b92;
}
#footer .social-icons ul li a.linkedin:hover {
  background-color: #036dc0;
}
#footer .social-icons ul li a.tumblr:hover {
  background-color: #36455C;
}
#footer .social-icons ul li a.github:hover {
  background-color: #000000;
}

/*****************************************************************************/
#environment, #usage, #address, #server, #accessor {
    color: #2b2b2b;
    background-color: #ede4cd;
}

#environment hr,
#usage hr,
#address hr,
#server hr,
#accessor hr {
    border-color: #a59564;
    border-style: dashed;
}

#content hr, #others hr {
    border-color: #adadad;
    border-style: dashed;
}

/*****************************************************************************/
pre.prettyprint {
    display: block;
    width: 100%;
    padding: 10px 10px 0 10px;
    margin: 0 0 20px 0;
    font-size: 13px;
    font-family: monospace;
    white-space: pre;
    background: #f8fbf8;
    overflow-x:auto;
    line-height: inherit;
    text-decoration: none;
    border-width: 1px;
    border-color: #9e9478;
    border-style: solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.prettyprint kbd {
    padding: 0;
    margin: 0;
    color: #3f312b;
    background-color: inherit;
    font-weight: 600;
    text-decoration: none;
    box-shadow: none;
    border-width: 0;
    border-radius: 0;
}

.prettyprint kbd:after {
    content: ' ⏎';
}

.spec-icon {
    margin: 12px 0 0 0;
}

ul.spec {
    text-align: left;
    list-style-type: disc;
    list-style-position: inside;
}

h3.icon-caption {
    font-size: 18px;
    font-weight: 600;
    border-width: 0 0 1px 0;
    border-color: #f3f3f2;
    padding: 0 0 0 8px;
    margin: 8px 0 12px 0;
}

h2.in-desc {
    text-align: left;
}

h3.in-desc {
    font-size:20px;
    display: block;
    margin: 10px 0 10px 0px;
    width: 100%;
    padding: 5px 0 0 0;
    text-align: left;
}

h4.in-desc {
    font-size: 18px;
    display: block;
    margin: 20px 0 10px 0;
    padding: 0;
    clear: left;
}

kbd {
    padding: 1px 2px;
    margin: 0 4px;
    border-width: 1px;
    border-color: #949495;
    border-style: solid;
    border-radius: 2px;
    color: #f8fbf8;
    background: #595857;
}

img.lhs {
    float: left;
    margin: 10px 10px 0 0;
    height: 100%;
}

img.rhs {
    float: right;
    margin: 10px 0 0 10px;
    height: 100%;
}

.head {
    float: left;
    margin: 5px 10px 0 0;
    height: 25px;
}

span.footnote {
    color: #c9171e;
}

ol.footnote {
    list-style-type: decimal;
    list-style-position: inside;
    margin: 4px 2px;
    text-decoration: italic;
    color: #c9171e;
}

img.diagram {
    width: 100%;
    margin: 8px 0;
    padding: 0px;
    border-color: #afafb0;
    border-style: solid;
    border-width: 1px;
}

.table {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 5px 0;
    width: 100%;
}

.table .tr {
    display: table-row;
}

.table .tr:nth-child(2n) {
    background: #fffffc;
}

.table .tr .th {
    display: table-cell;
    background: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: 2px 4px;
}

.table .tr .td {
    display: table-cell;
    border-width: 1px;
    border-style: solid;
    border-color: #3f312b;
    padding: 4px 6px;
}

.rtext {
    text-align: right;
}

.ltext {
    text-align: left;
}

.ctext {
    text-align: center;
}

.share-flat {
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;
}

.share-flat-inner a {
    position: relative;
    display: inline-block;
    width: 18%;
    height: 40px;
    line-height: 20px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}


