<div class = 'diagnosticcode'>
    <ul>
        <li>
            Diagnostic information for administrators: kijitora@example.com neko-smtp-02-22.prod.cats.secureserver.net
            Remote Server returned '550 5.1.0 192.0.2.222 is not allowed to send from <example.net> per it's SPF Record.
            Please inspect your SPF settings, and try again. IB508 <http://x.co/srbounce>'
        </li>
        <li>
            host gmail-smtp-in.l.google.com[64.233.189.27] said: Unauthenticated email from libsisimai.org
            is not accepted due to domain's DMARC policy. Please contact the administrator of libsisimai.org
            domain if this was a legitimate mail. Please visit https://support.google.com/mail/answer/2451690
            to learn about the DMARC initiative. z2si1584129pfn.61 - gsmtp (in reply to end of DATA command)
        </li>
        <li>
            host mx01.mail.icloud.com[17.57.152.9] said: 554 5.7.1 Your message was rejected due to libsisimai.org's
            DMARC policy. See https://support.apple.com/en-us/HT204137 for info (in reply to end of DATA command)
        </li>
        <li>
            host mxs.mail.ru[94.100.180.31] said: 550 5.7.1 This message was not accepted due to domain
            (libsisimai.org) owner DMARC policy (RFC 7489) https://help.mail.ru/mail-help/postmaster/dmarc
            (in reply to end of DATA command)
        </li>
        <li>
            host gmail-smtp-in.l.google.com[64.233.187.27] said: This mail has been blocked because
            the sender is unauthenticated. Gmail requires all senders to authenticate with either SPF
            or DKIM. Authentication results: DKIM = did not pass SPF [relay3.example.com] with ip: [192.0.2.22]
            = did not pass For instructions on setting up authentication,
            go to https://support.google.com/mail/answer/81126#authentication
            c2-202200202020202020222222cat.127 - gsmtp (in reply to end of DATA command)
        </li>
        <li>
            host gmail-smtp-in.l.google.com[64.233.188.26] said: The MAIL FROM domain [mail4.example.com]
            has an SPF record with a hard fail policy (-all) but it fails to pass SPF checks with the ip:
            [192.0.2.24]. To best protect our users from spam and phishing, the message has been blocked.
            For instructions on setting up authentication,
            go to https://support.google.com/mail/answer/81126#authentication
            2-222222630d46222222b002b2d2neko2cat2222222cat.22 - gsmtp (in reply to end of DATA command)",
        </li>
    </ul>
</div>

