<div class = 'diagnosticcode'>
    <ul>
        <li>
            [192.0.2.22 18] Our system has detected that this message is likely suspicious due to the
            very low reputation of the sending IP address. To best protect our users from spam, the
            message has been blocked. 
            Please visit https://support.google.com/mail/answer/188131 for more information. p22nn000202cat.22 - gsmtp
        </li>
        <li>
            host hotmail-com.olc.protection.outlook.com[104.47.66.33] said: 451 4.7.650 The mail server
            [192.0.2.25] has been temporarily rate limited due to IP reputation. For e-mail delivery
            information, see https://postmaster.live.com (S775) (in reply to MAIL FROM command))
        </li>
    </ul>
</div>

