<div class = 'diagnosticcode'>
    <ul>
        <li>550 5.7.1 can't determine Purported Responsible Address</li>
        <li>
            SMTP error from remote mail server after MAIL FROM:&lt;shironeko@example.jp&gt; SIZE=1543:
            host mx.example.jp [192.0.2.20]: 550 5.7.0 &lt;shironeko@example.jp&gt;... Please use the smtp server of your ISP.
        </li>
        <li>
            host mxs.mail.ru[194.67.23.20] said: 550 Access from
            ip address 192.0.2.4 blocked. Visit http://win.mail.ru/cgi-bin/support_bl?ip=192.0.2.4 (in reply to RCPT TO command)
        </li>
        <li> Connected to 192.0.2.112 but my name was rejected. Remote host said: 501 5.0.0 Invalid domain name</li>
        <li>450 4.7.1 Access denied. IP name lookup failed [192.0.2.222]</li>
        <li>
            5.1.0 - Unknown address error 550-'5.7.1 
            &lt;000001321defbd2a-788e31c8-2be1-422f-a8d4-cf7765cc9ed7-000000@email-bounces.amazonses.com&gt;...
            Access denied' (delivery attempts: 0)
        </li>
        <li>
            The error that the other server returned was: 554 554 5.7.1 Service unavailable;
            Client host [192.0.2.49] blocked using cbl.abuseat.org (state 13).
        </li>
    </ul>
</div>
