<div class = 'diagnosticcode'>
    <ul>
        <li title = 'Exchange2007'>550 4.4.7 QUEUE.Expired</li>
        <li title = 'IMailServer'>Delivery failed 22 attempts</li>
        <li title = 'OpenSMTPD'>Envelope expired</li>
        <li title = 'RU::MailRu'>retry timeout exceeded</li>
        <li title = 'JP::EZweb'>Your message was not delivered within 0 days and 1 hours.</li>
        <li title = 'US::Zoho'>Host not reachable</li>
        <li>4.4.7 (unable to deliver this message after 1 day)</li>
        <li>&lt;neko@nyan.example.org&gt;: connect to nyaan.example.org[192.0.2.1]:25: Connection timed out</li>
        <li>Deferred: 421 Message could not be delivered for 8 hours Message will be deleted from queue</li>
        <li>421 example.com (smtp)... Deferred: Connection timed out during user open with example.com</li>
        <li>Routing: Could not find a gateway for kijitora@example.co.jp</li>
        <li>Delevery to the following recipients was aborted after 5.0 hour(s):</li>
        <li>The following message, addressed to 'neko@nyaan.example.jp', failed because it has not been collected after 30 days</li>
        <li>5.4.7 - Delivery expired (message too old) 'timeout' (delivery attempts: 0)</li>
        <li>554 4.4.7 Message expired: unable to deliver in 840 minutes. &lt;421 4.4.2 Connection timed out&gt; Status: 4.4.7</li>
        <li>Unable to deliver message to the following recipients, due to being unable to connect successfully to the destination mail server.</li>
        <li>kijitora:00000:&lt;kijitora@example.org&gt; : Connection timed out in connect</li>
        <li>kijitora@7jo.example.jp Error, ERROR_CODE :421, ERROR_CODE :, Host not reachable.</li>
    </ul>
</div>
