<div class = 'diagnosticcode'>
    <ul>
        <li title = 'Domino'>Cannot route mail to user</li>
        <li title = 'Exchange2007'>550 5.7.1 RESOLVER.RST.AuthRequired</li>
        <li>550 5.2.1 &lt;kijitora@example.jp&gt;... User Unknown</li>
        <li>550 Unknown user kijitora@example.net (in reply to end of DATA command)</li>
        <li>
            554 delivery error: dd This user doesn't have a yahoo.com account
            (this-local-part-does-not-exist@yahoo.com) [0] - mta1061.mail.ne1.yahoo.com
        </li>
        <li>
            550 5.1.1 RCP-P2 http://postmaster.facebook.com/response_codes?ip=192.0.2.135#rcp
            Refused due to recipient preferences
        </li>
    </ul>
</div>
