<div class = 'diagnosticcode'>
    <ul>
        <li title = 'Courier'>No such domain.</li>
        <li title = 'Exim'>all host address lookups failed permanently</li>
        <li title = 'Exim'>all relevant MX records point to non-existent hosts</li>
        <li title = 'Exim'>Unrouteable address</li>
        <li title = 'Exchange2007'>554 5.4.4 SMTPSEND.DNS.NonExistentDomain</li>
        <li title = 'MessagingServer'>Illegal host/domain name found</li>
        <li title = 'qmail'>Sorry, I couldn't find any host by that name. (#4.1.2)</li>
        <li title = 'US::Aol'>Host or domain name not found</li>
        <li title = 'US::Outlook'>The mail could not be delivered to the recipient because the domain is not reachable</li>
    </ul>
</div>
