<div class = 'diagnosticcode'>
    <ul>
        <li>554 5.3.0 unknown mailer error 255</li>
        <li>
            &lt;r@p351355.pool.example.ne.jp&gt; (expanded from &lt;kijitora@example.org&gt;):
            user unknown. Command output: procmail: Couldn't create "/var/spool/mail/neko"
            id: r.example.org: No such user
        </li>
        <li>|IFS=' ' && exec /usr/local/bin/procmail -f- || exit 75 #kijitora@mailx-53.neko.example.edu</li>
        <li>temporary failure. Command output: avpcheck: unable to connect to avp daemon: Connection refused</li>
        <li>
            Command died with status 17: "/usr/sbin/amavis".
            Command output: Can't use an undefined value as a symbol reference at /usr/sbin/amavis line 1178.
        </li>
    </ul>
</div>
