<div class = 'diagnosticcode'>
    <ul>
        <li title = 'Exchange2007'>550 5.2.3 RESOLVER.RST.RecipSizeLimit</li>
        <li title = 'qmail'>sorry, that message size exceeds my databytes limit (#5.3.4)</li>
        <li title = 'qmail'>552 sorry, that message size exceeds my databytes limit (#5.3.4)</li>
        <li>553 Exceeded maximum inbound message size</li>
        <li>Mail size limit exceeded.</li>
        <li>552 5.3.4 Message too large</li>
        <li>message size 18876259 exceeds size limit 10485760 of server neko.example.jp[192.0.2.2]</li>
        <li>534 SIZE=Message too big. (in reply to MAIL FROM command)</li>
        <li>
            554 5.7.1 Message Rejected Class=size limit=15728640 Subclass=reject size=18571048
            (in reply to end of DATA command)
        </li>
        <li>Remote host said: 552 Message size exceeds fixed maximum message size: 1048576 bytes</li>
        <li>552 Message size exceeds maximum value</li>
    </ul>
</div>
