<div class = 'diagnosticcode'>
    <ul>
        <li title = 'Courier'>DNS lookup failed.</li>
        <li title = 'Exchange2007'>554 5.4.4 SMTPSEND.DNS.MxLoopback</li>
        <li title = 'Notes'>Message has exceeded maximum hop count</li>
        <li title = 'OpenSMTPD'>Temporary failure in MX lookup</li>
        <li title = 'OpenSMTPD'>Address family mismatch on destination MXs</li>
        <li>unrouteable mail domain "non-local.example" (:fail:)</li>
        <li>Name service error for name=example.org type=MX: Malformed or unexpected name server reply</li>
        <li>Name service error for domain digicool.com: Host not found, try again</li>
        <li>Sorry, I wasn't able to establish an SMTP connection. (#4.4.1)</li>
        <li>
            554 5.4.6 Too many hops 26 (25 max): from &lt;shironeko@example.jp&gt;
            via localhost, to &lt;kijitora@example.com&gt;
        </li>
        <li>
            Unable to deliver message to the following recipients,
            because the message was forwarded more than the maximum allowed times.
            This could indicate a mail loop.
        </li>
    </ul>
</div>
