<div class = 'diagnosticcode'>
    <ul>
        <li title = 'JP::KDDI'>Due to the following SMTP relay error</li>
        <li>
            host neko.example.com[192.0.2.22] said:
            550 5.7.1 Unable to relay for nyaan@neko.example.com
            (in reply to RCPT TO command)
        </li>
        <li>
            192.0.2.1 does not like recipient.
            Remote host said: 554 5.7.1 &lt;neko@example.com&gt;:
            Relay access denied
        </li>
        <li>554 5.7.1 &lt;kijitora@example.org&gt;: Relay access denied</li>
        <li>550 Insecure Mail Relay</li>
    </ul>

</div>
