<div class = 'diagnosticcode'>
    <ul>
        <li title = 'Exim'>an MX or SRV record indicated no SMTP service</li>
        <li title = 'Exim'>no host found for existing SMTP connection</li>
        <li title = 'OpenSMTPD'>Destination seem to reject all mails</li>
        <li title = 'Yahoo!'>No mx record found for domain=libsisimai.org</li>
        <li>host/domain does not accept mail</li>
        <li title = 'Google'>
            DNS Error: 24275403 DNS type 'mx' lookup of libsisimai.org responded with code NOERROR
            The domain libsisimai.org doesn't receive email according to the administrator: returned
            Null MX https://www.rfc-editor.org/info/rfc7505
        </li>
        <li title = 'AOL'>
            Name service error for name=libsisimai.org type=MX: Malformed or unexpected name server
            reply
        </li>
    </ul>
</div>
