<div class = 'diagnosticcode'>
    <ul>
        <li>
            Messages with multiple 550 5.7.1 addresses in From: header are not
            accepted. v14si1155795plk.134 - gsmtp
        </li>
        <li>
            host aspmx.l.google.com[142.251.170.26] said: This message is not RFC 5322 compliant.
            There are multiple Subject headers. To reduce the amount of spam sent to Gmail, this message
            has been blocked. Please visit https://support.google.com/mail/?p=RfcMessageNonCompliant
            and review RFC 5322 specifications for more information. c2-aguiqyuiyuqir5678167856aeu8.22
            - gsmtp (in reply to end of DATA command)"
        </li>
    </ul>
</div>

