<div class = 'diagnosticcode'>
    <ul>
        <li>554 email rejected due to security policies</li>
        <li>
            Technical details of permanent failure: 
            You have exceeded the the allowable number of posts without solving a captcha.
        </li>
        <li title = 'Exim'>
            SMTP error from remote mail server after end of data:
            host mx.example.jp [192.0.2.20]: 554 5.7.0 Header error
        </li>
        <li title = 'Sendmail'>SMTP; 554 5.7.9 Header error</li>
    </ul>
</div>

