<div class = 'diagnosticcode'>
    <ul>
        <li title = 'Exchange2007'>550 5.7.1 RESOLVER.RST.NotAuthorized</li>
        <li>
            553 5.1.8 &lt;neko@neko.example.jp&gt;... Domain of sender address
            root@neko.example.jp does not exist (in reply to MAIL FROM command)
        </li>
        <li>
            Connected to 192.0.2.225 but sender was rejected.
            Remote host said: 550 5.7.1 &lt;neko@nijo.example.jp&gt;... Access denied
        </li>
        <li>
            553 5.1.8 &lt;neko@nyaan.example.jp&gt;...
            Domain of sender address neko@nyaan.example.jp does not exist
        </li>
        <li>
            SMTP error from remote mail server after MAIL FROM:&lt;neko@nyaan.example.jp&gt; SIZE=1420:
            host mx.libsisimai.org [192.0.2.135]: 550 5.1.8 &lt;neko@nyaan.example.jp&gt;... Error
        </li>
    </ul>
</div>
