<div class = 'diagnosticcode'>
    <ul>
        <li title = 'OpenSMTPD'>Could not retrieve credentials</li>
        <li>552-5.7.0 This message was blocked because its content presents a potential security issue.</li>
        <li>
            SMTP Server &lt;mta.neko.exampe.jp&gt; rejected recipient &lt;nyaan@neko.example.jp&gt;
            (Error following RCPT command). It responded as follows: [550 Previous (cached) callout verification failure]
        </li>
        <li>553 From &lt;&gt;, message blocked, you are not authorized to send mail, authentication is required.</li>
    </ul>
</div>
