<div class = 'diagnosticcode'>
    <ul>
        <li title = 'IMailServer'>Requested action not taken: virus detected</li>
        <li title = 'OpenSMTPD'>Could not retrieve credentials</li>
        <li>552-5.7.0 This message was blocked because its content presents a potential security issue.</li>
        <li>
            552-5.7.0 Our system detected an illegal attachment on your message.
            Please visit http://mail.google.com/support/bin/answer.py?answer=6590
            to review our attachment guidelines.
        </li>
        <li>554 email rejected due to security policies</li>
        <li>
            SMTP Server &lt;mta.neko.exampe.jp&gt; rejected recipient &lt;nyaan@neko.example.jp&gt;
            (Error following RCPT command). It responded as follows: [550 Previous (cached) callout verification failure]
        </li>
        <li>
            Technical details of permanent failure: 
            You have exceeded the the allowable number of posts without solving a captcha.
        </li>
        <li>553 From &lt;&gt;, message blocked, you are not authorized to send mail, authentication is required.</li>
    </ul>
</div>
