<div class = 'diagnosticcode'>
    <ul>
        <li>Our system has detected that this message is likely unsolicited mail.</li>
        <li>550 5.7.1 message content rejected</li>
        <li>550 Spam refused.</li>
        <li>
            554 imta14.emeryville.ca.mail.comcast.net comcast 192.0.2.4 Comcast block for spam.
            Please see http://postmaster.comcast.net/smtp-error-codes.php#BL000000
        </li>
        <li>User profile spam level exceeded</li>
        <li>550-Blacklisted URL in message. (example.com) in [black]. See http://lookup.uribl.com. </li>
        <li>
            550-5.7.1
            [192.0.2.6] Our system has detected that this message is likely unsolicited mail.
            To reduce the amount of spam sent to Gmail, this message has been blocked.
            Please visit http://support.google.com/mail/bin/answer.py?hl=en&answer=188131
            for more information.
        </li>
        <li>550 5.7.1 Your email breaches local URIBL policy. (in reply to end of DATA command)</li>
        <li>554 5.7.1 Message cannot be accepted, spam rejection (in reply to end of DATA command)</li>
        <li>
            550 Error: SPAM-ID: e00000000-000000 Your email had spam-like header contents.
            Please contact your email service provider. (in reply to end of DATA command)
        </li>
        <li>
            550 ****(0000): Your email was detected as spam. (RCPTs: neko@example.org)
            (in reply to end of DATA command)
        </li>
        <li>550 Denied due to spam list (in reply to RCPT TO command)</li>
        <li>
            554 5.7.1 Mail (22222-22222) appears to be unsolicited -
            Score (222) over MessageScoringUpperLimit (22) -
            send error reports to postmaster@example.org
        </li>
        <li>
            554 5.7.1 Your message failed several antispam checks (SCORING)
            and it was rejected or collected on example.net spambox.
            Please be sure your mailserver is configured correctly (spf , HELO, PTR)
            or try using an alternative email or smtp.
        </li>
        <li>550 Probable Spam (in reply to end of DATA command)</li>
        <li>550 5.7.1 Message content rejected, UBE, id=00000-00-000</li>
    </ul>
</div>
