<div class = 'diagnosticcode'>
    <ul>
        <li title = 'qmail'>Mailaddress is administratively disabled</li>
        <li title = 'JP::EZweb'>The user(s) account is disabled.</li>
        <li title = 'JP::EZweb'>The user(s) account is temporarily limited.</li>
        <li>
            dd Sorry your message to ****@yahoo.com.ar cannot be delivered.
            This account has been disabled or discontinued [#102].
        </li>
        <li>525 5.7.13 Disabled recipient address</li>
        <li>550 [SUSPEND] Mailbox currently suspended - Please contact correspondent directly</li>
    </ul>
</div>
