<div class = 'diagnosticcode'>
    <ul>
        <li title = 'Courier'>This domain's DNS violates RFC 1035.</li>
        <li title = 'Domino'>Several matches found in Domino Directory</li>
        <li title = 'Exim'>delivery to file forbidden</li>
        <li title = 'Exim'>delivery to pipe forbidden</li>
        <li title = 'Exchange2007'>550 5.2.0 RESOLVER.ADR.BadPrimary</li>
        <li title = 'Exchange2007'>550 5.1.0 RESOLVER.ADR.InvalidInSmtp</li>
        <li title = 'Exchange2007'>550 5.1.4 RESOLVER.ADR.Ambiguous</li>
        <li>451 Temporary local problem - please try later (in reply to end of DATA command)</li>
        <li>Unable to contact LDAP server. (#4.4.3) I'm not going to try again;</li>
        <li>550 5.3.5 &lt;kuroneko@example.org&gt;... Internal System Error</li>
        <li>500 Remote server does not support TLS (state 6).</li>
    </ul>
</div>
