<div class = 'diagnosticcode'>
    <ul>
        <li title = 'Domino'>not listed in Domino Directory / Public Name &amp; Address Book</li>
        <li title = 'Exchange2007'>550 5.1.1 RESOLVER.ADR.RecipNotFound</li>
        <li title = 'Exchange2007'>550 5.1.1 RESOLVER.ADR.ExRecipNotFound</li>
        <li title = 'IMailServer'>Invalid final delivery userid</li>
        <li title = 'qmail'>Sorry, no mailbox here by that name. (#5.1.1)</li>
        <li title = 'qmial'>&lt;neko@example.jp&gt;: 192.0.2.153 does not like recipient. Remote host said: 550 5.2.1 ...</li>
        <li title = 'US::Outlook'>Requested action not taken: mailbox unavailable</li>
    </ul>
</div>
