<div class = 'diagnosticcode'>
    <ul>
        <li title = 'IMailServer'>Requested action not taken: virus detected</li>
        <li>
            552-5.7.0 Our system detected an illegal attachment on your message.
            Please visit http://mail.google.com/support/bin/answer.py?answer=6590
            to review our attachment guidelines.
        </li>
        <li>
            Your message was infected with a virus. You should download a virus
            scanner and check your computer for viruses.
        </li>
    </ul>
</div>

