<!DOCTYPE html>
<html>
<head>
    <link rel = 'canonical' href = '{{ page.redirect_to }}' />
    <meta http-equiv = 'content-type' content = 'text/html; charset=utf-8' />
    <meta http-equiv = 'refresh' content = '1;url={{ page.rdr1 }}' />
    {% include standard-styles.html %}
    {% include webfont-setting.html %}
    <style type = 'text/css'>
        div.L1 { 
            margin: 10px auto;
            text-align: center;
        }
        div.L2 { margin: 10px auto; }
    </style>
</head>
<body>
    <div class = 'L1'>
        <div class = 'L2'>
            <img src = '/static/images/logo/sisimai-logomark-b02.png' width = '32%'>
            <h2>"{{ page.rdr0 }}" has been moved to "{{ page.rdr1 }}"</h2>
            <a class = 'btn btn-primary' href = '{{ page.rdr1 }}'>REDIRECT<a>
        </div>
    </div>
</body>
</html>
