<!DOCTYPE html>
<html>
<head>
    <meta charset = 'utf-8'>
    <meta name = 'viewport' content = 'width=device-width, initial-scale=1.0'>
    <meta name = 'description' content = '{{ page.description }}'>
    <meta name = 'author' content = '{{ page.author }}'>
    <title>Sisimai: Mail Analyzing Interface</title>
    {% include standard-styles.html %}
    {% include webfont-setting.html %}
    {% include scripts-for-ie9.html %}
    {% include short-cut-icons.html %}
</head>
<body>
    {% include preloader-class.html %}
    {{ content }}
    {% include standard-script.html %}
</body>
</html>
